.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    .index-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 25%;
        padding-top: 5px;
        background-color: lightgray;
        .header-box {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 95%;
            .cat-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 140px;
                height: 95%;
                .cat-img {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .search {
            width: 20%;
            height: 25px;
        }
    }
    .main-box {
        width: 95%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .form-container {
            background: white;
            padding: 2rem;
            border: 2px solid black;
            width: 35%;
            .form {
                display: flex;
                flex-direction: column;
                input, textarea {
                    margin-bottom: 1rem;
                    padding: 0.8rem;
                    border: 2px solid black;
                    font-size: 1rem;
                }
                .text {
                    height: 150px;
                }
                button {
                    padding: 0.8rem;
                    border: 2px solid black;
                    background: white;
                    cursor: pointer;

                    &:hover {
                    background: green;
                    color: white;
                    }
                }
            }
        }
    }
}