.body {
    .index-header {
        a {
            width: 20%;
            height: 25px;
            margin-bottom: 10px;
            button {
                width: 100%;
                height: 100%;
            }           
        }
    }
    .programs-box {
        width: 99%;
        height: 74%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .file-box {
            width: 80%;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            border: 1px solid black;
            .file-box1,
            .file-box2,
            .file-box3 {
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
             border: 1px solid black;
                .file-img {
                     width: 40px;
                     height: 40px; 
                }
            }
            .file-box2 {
            width: 40%;
            height: 100%;
                .sort-p {
                    width: 92%;
                    text-align: center;
                }
                button {
                    width: 35px;
                    cursor: pointer;
                    font-family: inherit;
                    &:hover {
                        background-color: green;
                        color: white;
                    }
                }
            }
            .file-box3 {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 50%;
                height: 100%;
                a {
                    button {
                        &:hover {
                        background: green;
                        color: white;
                        }
                    }
                }
            }
        }
        .sort-bar {
            margin-top: 30px;
        }
    }
}